<%= form_with(model: political_party, local: true) do |form| %>
  <% if political_party.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(political_party.errors.count, "error") %> prohibited this political_party from being saved:</h2>

      <ul>
      <% political_party.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
