<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @voter.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @voter.age %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @voter.political_party_id %>
</p>

<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
